@charset "UTF-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img, input {
  margin: 0;
  padding: 0;
}

ul, ol, li {
  list-style: none;
}

a, u {
  text-decoration: none;
}

b, strong {
  font-weight: 100;
}

i, em {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 16px;
  font-weight: 100;
}

img {
  display: block;
  border: 0;
}

input {
  outline: none;
}

.clearfix:after {
  content: ".";
  height: 0;
  display: block;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/*xiji-top*/
/*群组样式  外围样式width：100%；background：#f5f5f5*/
body, html {
  width: 100%;
}

#logo, #nav, #banner, #activity, #together, #product, #fine-goods, #excellent-select-project, #public-goods, #guessyoulike, #subscibe, #helper, #footer {
  width: 100%;
  background: #f5f5f5;
}

/*xiji-top*/
#xiji-top {
  width: 1200px;
  height: 30px;
  margin: auto;
}
#xiji-top .top-location {
  float: left;
  width: 168px;
  height: 30px;
}
#xiji-top .top-location .send {
  font-size: 12px;
  color: #000;
  line-height: 12px;
  float: left;
  margin-top: 9px;
}
#xiji-top .top-location .china {
  display: inline-block;
  width: 20px;
  height: 13px;
  float: left;
  margin-top: 8px;
  background: url(../img/xiji-files/pop_setting_bg01_170113.png) no-repeat left -79px;
}
#xiji-top .top-location .area {
  background: url(../img/xiji-files/top_sel_bg.jpg) no-repeat left;
  display: inline-block;
  width: 92px;
  height: 10px;
  float: left;
  margin-left: 8px;
  margin-top: 10px;
}
#xiji-top .top-location .area a {
  font-size: 12px;
  color: #28282e;
  line-height: 12px;
  float: left;
}
#xiji-top .top-location .area a:first-child {
  margin-left: 7px;
}
#xiji-top .top-location .area a:last-child {
  margin-left: 15px;
}
#xiji-top ul {
  float: right;
}
#xiji-top ul li {
  float: left;
  font-size: 12px;
}
#xiji-top ul li a {
  color: #787878;
  float: left;
  padding: 7px 15px;
}
#xiji-top ul li a:hover {
  color: #28282e;
}
#xiji-top ul li span {
  float: left;
  color: #e8e4e8;
  margin-top: 7px;
}
#xiji-top ul li:last-child .down-arrows {
  margin-right: 20px;
  display: inline-block;
  width: 50px;
  position: relative;
  background: url(../img/xiji-files/top_service_arr.png) no-repeat right;
}
#xiji-top ul li:last-child .help {
  display: none;
  width: 100px;
  height: 52px;
  position: absolute;
  background: #fff;
  z-index: 6;
  top: 32px;
}
#xiji-top ul li:last-child .help li {
  height: 25px;
  width: 100px;
  border: 1px solid #d9d8d8;
  border-top: 0;
}
#xiji-top ul li:last-child .help li:hover {
  background: #ccc;
}
#xiji-top ul li:last-child .help li a:last-child {
  display: inline-block;
  color: #28282e;
  font-size: 12px;
  line-height: 12px;
  padding: 0 0;
  /*padding:0 17px 7px 8px;*/
  padding: 7px 18px 0 0;
  float: right;
  margin: 0;
}
#xiji-top ul li:last-child .help li .online-service, #xiji-top ul li:last-child .help li .help-center {
  display: inline-block;
  float: left;
  height: 17px;
  width: 17px;
  padding: 0 0;
  margin: 4px 0 0 10px;
  background: url(../img/xiji-files/top_service_icon.png) no-repeat left -4px;
}
#xiji-top ul li:last-child .help li .help-center {
  height: 11px;
  margin: 7px 0 0 10px;
  background: url(../img/xiji-files/top_service_icon.png) no-repeat left -32px;
}

/*logo*/
#logo {
  height: 145px;
}
#logo .logo-blank, #logo .logo-bottom-blank {
  height: 30px;
  margin: auto;
  border-top: 1px solid #e4e4e4;
}
#logo .logo-form {
  width: 1200px;
  height: 79px;
  margin: auto;
  background: #f5f5f5;
}
#logo .logo-form h1 {
  width: 214px;
  height: 60px;
  float: left;
  margin: 10px 0 0 20px;
}
#logo .logo-form form {
  padding-top: 10px;
  position: relative;
}
#logo .logo-form form input:first-child {
  width: 440px;
  height: 44px;
  border: 1px solid #eb5a41;
  padding-left: 5px;
  float: left;
  margin-left: 136px;
}
#logo .logo-form form input:last-child {
  width: 60px;
  height: 46px;
  background: #eb5a41 url(../img/xiji-files/search_icon.png) no-repeat center;
  border: 0;
  float: left;
  cursor: pointer;
}
#logo .logo-form .top-search {
  position: absolute;
  top: 120px;
  left: 393px;
  display: block;
}
#logo .logo-form .top-search a {
  font-size: 12px;
  line-height: 12px;
  color: #999;
  padding: 10px 9px;
}
#logo .logo-form .top-search a:hover {
  text-decoration: underline;
}
#logo .logo-form .logo-login-regist {
  padding: 11px 0 0 61px;
  float: left;
  position: relative;
}
#logo .logo-form .logo-login-regist img {
  float: left;
  z-index: 10;
  position: relative;
}
#logo .logo-form .logo-login-regist .logo-login-regist-a {
  width: 106px;
  height: 33px;
  position: relative;
  z-index: 10;
}
#logo .logo-form .logo-login-regist .logo-login-regist-a a {
  float: left;
  font-size: 13px;
  line-height: 12px;
  margin: 0 7px;
  color: #000;
  display: inline-block;
  padding-top: 6px;
}
#logo .logo-form .logo-login-regist .login-frame {
  width: 160px;
  height: 162px;
  background: #fff;
  text-align: center;
  border: 1px solid #c9c9c9;
  position: absolute;
  left: 50px;
  top: 0px;
  z-index: 5;
  display: none;
}
#logo .logo-form .logo-login-regist .login-frame a {
  display: inline-block;
  width: 106px;
  height: 33px;
  color: #fff;
  font-size: 14px;
  float: none;
}
#logo .logo-form .logo-login-regist .login-frame a:first-of-type {
  background: #eb5a41;
  text-align: center;
  line-height: 33px;
  border-radius: 5px;
  margin-top: 64px;
  float: none;
  padding-top: 0;
}
#logo .logo-form .logo-login-regist .login-frame a:last-of-type {
  color: #eb5a41;
  padding-top: 0;
  line-height: 14px;
  padding-left: 35px;
}
#logo .logo-form .logo-login-regist .login-frame a:last-of-type i {
  display: inline-block;
  float: left;
}
#logo .logo-form .logo-login-regist .login-frame a:last-of-type img {
  display: inline-block;
  float: left;
}
#logo .logo-form .logo-login-regist .login-frame p {
  font-size: 12px;
  color: #666;
  line-height: 12px;
  margin: 13px 0;
}
#logo .logo-form .shopping-cart {
  width: 154px;
  float: right;
  height: 45px;
  padding-top: 2px;
}
#logo .logo-form .shopping-cart .shopping-cart-contain {
  width: 87px;
  height: 32px;
  float: right;
}
#logo .logo-form .shopping-cart .shopping-cart-contain a {
  position: relative;
}
#logo .logo-form .shopping-cart .shopping-cart-contain a:first-of-type img {
  float: left;
  padding-top: 9px;
}
#logo .logo-form .shopping-cart .shopping-cart-contain a:first-of-type span {
  display: block;
  float: left;
  width: 25px;
  height: 25px;
  background: #eb5a41;
  border-radius: 12.5px;
  position: absolute;
  left: -9px;
  top: 0px;
  text-align: center;
  color: #fff;
  line-height: 25px;
}
#logo .logo-form .shopping-cart .shopping-cart-contain a:last-of-type {
  font-size: 12px;
  color: #000;
  line-height: 12px;
  padding-top: 14px;
  float: right;
}
#logo .logo-bottom-blank {
  height: 36px;
  border-top: 0;
}

/*nav*/
#nav {
  height: 37px;
  border-bottom: 2px solid #212121;
}
#nav .nav-con {
  width: 1200px;
  height: 37px;
  margin: 0 auto;
}
#nav .nav-con .nav-left {
  position: relative;
  width: 320px;
  z-index: 1;
  float: left;
}
#nav .nav-con .nav-left .all-classify span {
  width: 270px;
  height: 37px;
  color: #000;
  padding-left: 50px;
  line-height: 37px;
  font-size: 16px;
  float: left;
  background: url(../img/xiji-files/catagory_tit_bg.png) no-repeat 18px 0;
}
#nav .nav-con .nav-left .all-classify-box {
  height: 390px;
  width: 320px;
  border: none;
  position: absolute;
  left: 0;
  top: 39px;
  z-index: 1000;
}
#nav .nav-con .nav-left .all-classify-box .all-classify_ul {
  height: 390px;
  background: #333;
  width: 320px;
  border: none;
}
#nav .nav-con .nav-left .all-classify-box .all-classify_ul .all-classify_li {
  height: 29px;
  padding: 9px 20px;
  text-align: left;
}
#nav .nav-con .nav-left .all-classify-box .all-classify_ul .all-classify_li:hover {
  background: #000;
  color: #fff;
}
#nav .nav-con .nav-left .all-classify-box .all-classify_ul .all-classify_li:hover .all-classify-menu .all-classify-item li a {
  color: #fff;
}
#nav .nav-con .nav-left .all-classify-box .all-classify_ul .all-classify_li .all-classify-menu a {
  display: block;
  float: left;
  color: #fff;
  width: 70px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  font-size: 14px;
}
#nav .nav-con .nav-left .all-classify-box .all-classify_ul .all-classify_li .all-classify-menu .all-classify-item {
  width: 210px;
  height: 30px;
  overflow: hidden;
}
#nav .nav-con .nav-left .all-classify-box .all-classify_ul .all-classify_li .all-classify-menu .all-classify-item li {
  height: 30px;
  line-height: 30px;
  float: left;
  white-space: nowrap;
  color: #999;
}
#nav .nav-con .nav-left .all-classify-box .all-classify_ul .all-classify_li .all-classify-menu .all-classify-item li a {
  color: #999;
  vertical-align: -1px;
  font-size: 12px;
  font-weight: normal;
  padding: 0;
  width: auto;
}
#nav .nav-con .nav-left .all-classify-box .all-classify_ul .all-classify_li .sub-box {
  display: none;
  width: 878px;
  left: 320px;
  top: 0;
  min-height: 388px;
  padding: 0;
  font-size: 12px;
  position: absolute;
  background: #fff;
  z-index: 11;
  overflow: hidden;
  border: 1px solid #f0f0f0;
}
#nav .nav-con .nav-left .all-classify-box .all-classify_ul .all-classify_li .sub-box .sub-item-box {
  width: 640px;
  padding: 10px 0;
  float: left;
  font-size: 12px;
}
#nav .nav-con .nav-left .all-classify-box .all-classify_ul .all-classify_li .sub-box .sub-item-box dl {
  width: 580px;
  padding: 12px 0;
  margin: 0 40px 0 20px;
  border-bottom: 1px dotted #e4e4e4;
}
#nav .nav-con .nav-left .all-classify-box .all-classify_ul .all-classify_li .sub-box .sub-item-box dl dt {
  color: #333;
  font-size: 14px;
  font-weight: bold;
  padding: 0;
  border-bottom: none;
  width: 71px;
  float: left;
  text-align: right;
  line-height: 21px;
}
#nav .nav-con .nav-left .all-classify-box .all-classify_ul .all-classify_li .sub-box .sub-item-box dl dt a {
  color: #333333;
  font-size: 14px;
  vertical-align: -1px;
  padding: 0;
}
#nav .nav-con .nav-left .all-classify-box .all-classify_ul .all-classify_li .sub-box .sub-item-box dl dt a:hover {
  color: #eb5a41;
}
#nav .nav-con .nav-left .all-classify-box .all-classify_ul .all-classify_li .sub-box .sub-item-box dl dt span {
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}
#nav .nav-con .nav-left .all-classify-box .all-classify_ul .all-classify_li .sub-box .sub-item-box dl dd {
  margin-left: 80px;
  line-height: 0;
}
#nav .nav-con .nav-left .all-classify-box .all-classify_ul .all-classify_li .sub-box .sub-item-box dl dd a {
  display: inline-block;
  color: #333333;
  padding: 5px 8px 3px 0;
  white-space: nowrap;
  line-height: 1.1;
}
#nav .nav-con .nav-left .all-classify-box .all-classify_ul .all-classify_li .sub-box .sub-item-box dl dd a:hover {
  color: #eb5a41;
}
#nav .nav-con .nav-left .all-classify-box .all-classify_ul .all-classify_li .sub-box .all-classify-brand {
  width: 230px;
  float: left;
}
#nav .nav-con .nav-left .all-classify-box .all-classify_ul .all-classify_li .sub-box .all-classify-brand .brand-title {
  padding: 15px 0;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 0;
}
#nav .nav-con .nav-left .all-classify-box .all-classify_ul .all-classify_li .sub-box .all-classify-brand .brands-box {
  margin-right: -10px;
  height: 228px;
  overflow: hidden;
}
#nav .nav-con .nav-left .all-classify-box .all-classify_ul .all-classify_li .sub-box .all-classify-brand .brands-box li {
  float: left;
  width: 100px;
  height: 45px;
  padding: 7px 0;
  background: #FFFFFF;
  border: 1px solid #d1d1d1;
  margin: 0 15px 15px 0;
  text-align: center;
}
#nav .nav-con .nav-left .all-classify-box .all-classify_ul .all-classify_li .sub-box .all-classify-brand .brands-box li a img {
  border: none;
  width: 90px;
  height: 45px;
  vertical-align: bottom;
  line-height: 0;
  margin: -35px 0 0 5px;
}
#nav .nav-con .nav-left .all-classify-box .all-classify_ul .all-classify_li .sub-box .all-classify-brand .brand-pic {
  width: 219px;
  height: 90px;
}
#nav .nav-con .nav-left .all-classify-box .all-classify_ul .all-classify_li .sub-box .all-classify-brand .brand-pic img {
  width: 219px;
  height: 90px;
  vertical-align: bottom;
  border: none;
  line-height: 0;
  margin-top: -23px;
}
#nav ul {
  float: left;
}
#nav ul li {
  float: left;
  font-size: 16px;
  line-height: 37px;
}
#nav ul li a {
  color: #000;
  padding: 8px 31px;
}
#nav ul li a:hover {
  color: #eb5a41;
}
#nav ul li:first-child a {
  padding: 8px 31px 8px 0;
}
#nav ul .house-home {
  position: relative;
}
#nav ul .house-home span {
  display: inline-block;
  width: 49px;
  height: 16px;
  position: absolute;
  background: url(../img/xiji-files/free_nav_icon.png) no-repeat;
}

/*subscibe*/
#subscibe {
  height: 126px;
}
#subscibe .subscibe-box {
  width: 1200px;
  margin: 0 auto;
  height: 46px;
  padding: 40px 0;
  font-size: 14px;
  line-height: 45px;
  position: relative;
}
#subscibe .subscibe-box label {
  color: #333;
  width: 140px;
  height: 45px;
  float: left;
}
#subscibe .subscibe-box .subscibe-input1 {
  width: 420px;
  height: 43px;
  float: left;
  color: #666;
  padding: 0 5px;
  border: 1px solid #D3D3D3;
  line-height: 43px;
  margin-left: 8px;
}
#subscibe .subscibe-box .subscibe-input2 {
  width: 60px;
  height: 45px;
  float: left;
  color: #fff;
  background: #212121;
  padding: 0 5px;
  line-height: 45px;
  cursor: pointer;
  border: 0;
}
#subscibe .subscibe-box .right-box {
  height: 32px;
  position: absolute;
  right: 0px;
  top: 47px;
}
#subscibe .subscibe-box .right-box img {
  float: left;
  display: inline-block;
  margin: 0 0 0 15px;
}

/*helper*/
#helper {
  background: #ebebeb;
  height: 378px;
  border-top: 1px solid #333;
}
#helper .helper-box {
  width: 1200px;
  height: 333px;
  margin: 0 auto;
  padding: 45px 0;
}
#helper .helper-box .helper-left {
  width: 665px;
  float: left;
}
#helper .helper-box .helper-left .helper-item {
  margin-right: 10px;
  width: 120px;
  float: left;
}
#helper .helper-box .helper-left .helper-item dl dt {
  font-size: 14px;
  margin-bottom: 10px;
  color: #000;
}
#helper .helper-box .helper-left .helper-item dl dd a {
  color: #666;
  line-height: 1.8;
  display: block;
  font-size: 12px;
}
#helper .helper-box .helper-left .helper-item dl dd a:hover {
  color: #999;
}
#helper .helper-box .helper-center {
  width: 265px;
  padding: 0 50px;
  float: left;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
#helper .helper-box .helper-center .center-title {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
}
#helper .helper-box .helper-center p {
  font-size: 12px;
  line-height: 1.8;
  color: #666;
}
#helper .helper-box .helper-center p a {
  color: #0563c3;
}
#helper .helper-box .helper-center p img {
  display: inline-block;
}
#helper .helper-box .helper-right {
  width: 165px;
  float: left;
  text-align: center;
  padding-top: 40px;
}
#helper .helper-box .helper-right p {
  margin-bottom: 10px;
}
#helper .helper-box .helper-right img {
  width: 83px;
  height: 82px;
  border: 0;
  display: inline-block;
}

/*footer*/
#footer {
  height: 113px;
  background: #ebebeb;
}
#footer .footer-box {
  width: 1200px;
  height: 68px;
  border-top: 1px solid #DDDDDD;
  padding: 30px 0 15px;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  line-height: 1.8;
}
#footer .footer-box p a {
  margin: 0 5px;
  color: #000;
}
#footer .footer-box p a img {
  display: inline-block;
  margin-top: 5px;
}

#top {
  width: 48px;
  height: 48px;
  background: url(../img/xiji-files/right_top.png) 0 0 no-repeat;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
}

/*# sourceMappingURL=xiji_public.css.map */
