#shoppingCart{
    width: 100%;
    _height: 98px;
    min-height: 98px;
    background: #f5f5f5;
    .shoppingCart-con{
        width: 1200px;
        min-height: 48px;
        _height:48px;
        margin:0 auto;
        padding-top: 50px;
        table{
            min-height: 48px;
            _height:48px;
            vertical-align: middle;
            font-size: 14px;
            border: none;
            border-top: 1px solid #E4E4E4;
            border-bottom: 1px solid #E4E4E4;
            background-color: #fff;
            border-collapse: collapse;
            border-spacing: 0;
            .col01{
                width: 15px;
            }
            .col02{
                width: 627px;
            }
            th{
                width: 139px;
            }
        }
    }
}
